body {
     font-family: "Merriweather", serif;
     margin: 0;
}

/* Header stuff here */
header {
    background-color: #eaeaea;
    padding: 1rem 10px;
}
header span {
    color: #B47F75;
    font-size: 1.6rem;
    font-weight: 700;
}


/* navigation stuff here */
nav{
    background-color: #B8D5D8;
}
nav ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #B47F75; 
    font-weight: 700;
}

nav li.current a {
    background-color: #B47F75;
    color: white;
}

nav li a:hover {
    color: white;
}

/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #DCBB95;
}
main h2 {
    color: #a1bcc7;
    margin-bottom: .2rem;
}
main h3 {
     color: #c99e84;
    font-weight: 700;
    margin-top: 1rem;
}
main p {
    margin: 0;
    color: #333;
}
main ol {
    padding: .5rem 30px;
    background-color: #efefef;
}
main dl dt {
    color: #c99e84;
    font-weight: 700;
    margin-top: 1rem;
}
main dl dd {
    color: #024873;
    font-size: .9rem;
    margin-left: 20px;
}
main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
    font-size: .9rem;
}
main strong {
    font-weight: 700;
    color: black;
}

main em {
    font-weight: 300;
}
main address {
    font-style: normal;
    background-color: #E9DABC;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #024873;
    width: 200px;
}
main a {
    color: #024873;
}
main a:hover {
    color: rgb(180, 4, 18);
}


/* footer stuff here */
footer {
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}
footer p {
    margin: 0;
    letter-spacing: 3px
}